.navbar-logo{
    height: 100px;
    width: 100px;
    margin: auto;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    &:hover img{
        border: 3px solid white;
    }
}

.restaurant-card{
    margin-top: 150px;
    height: 500px;
    background-color: #FF5858;
    box-shadow: -11px 10px 28px 6px #4D4D4D;
    padding: 0;
    box-sizing: border-box;
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .restaurant-img-container{
        height: 100%;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
}

.restaurant-title{
    font-size: 50px;
    font-family: montserrat, sans-serif;
}

.restaurant-info{
    margin-left: 50px;
    font-size: 20px;
    line-height: 60px;
    list-style-type: none;
}

.card-img-custom{
    height: 200px;
}

.plates-card-list{
    list-style-type: none;
}


.custom-navbar, .custom-login-header, .box{
    background-color: #ff5858;
}