.navbar-logo{
    height: 100px;
    width: 100px;
    margin: auto;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    &:hover img{
        border: 3px solid white;
    }
}

.restaurant-card{
    margin-top: 150px;
    height: 500px;
    background-color: #FF5858;
    box-shadow: -11px 10px 28px 6px #4D4D4D;
    padding: 0;
    box-sizing: border-box;
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .restaurant-img-container{
        height: 100%;
        img{
            height: 100%;
            object-fit: contain;
        }
    }
}
.cover{
    object-fit: cover;
    height: 100%;
}
.restaurant-title{
    font-size: 50px;
    font-family: montserrat, sans-serif;
}

.restaurant-info{
    margin-left: 50px;
    font-size: 20px;
    line-height: 60px;
    list-style-type: none;
}

.card-img-custom{
    height: 200px;
}

.plates-card-list{
    list-style-type: none;
}


.custom-navbar, .custom-login-header{
    background-color: #ff5858;
}
.box{
    background-color: #ff5858;
    box-shadow: -11px 10px 28px 6px #4D4D4D;
    height: 70vh;
    overflow: auto;
    border-radius: 30px;
}


.bottone{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    z-index: 10;
    position: relative;
    top: 50px;
    left: -20px;
    &:hover{
        border: 3px solid white;
        transform: scale(1.1);
    }
    a{
        font-size: 50px;
        text-decoration: none;
        color: white;
    }
}
.card-statistic{
border-radius: 20px;
background-color: white;
}